In [ ]:
class Student:

    def __init__(self):
        """Init function
        """
        self.name = ""

    def set_name(self, name):
        """Set name function
        """
        self.name = name

    def get_name(self):
        """Get name function"""
        return self.name

In [4]:
# Initialise class object
student = Student()

In [6]:
# Set name
student.set_name("Student 1")

In [7]:
# get name
print(student.get_name())

Student 1

### Class Inheritance

In [61]:
class School:
    school_name: str = ""

    def __init__(self):
        pass

    def get_school_name(self):
        return self.school_name
    
    def set_school_name(self, name):
        self.school_name = name

In [62]:
# Initialise
school = School()

In [63]:
# Set school name
school.set_school_name(name="PTC")

In [64]:
# Get school name
school_name = school.get_school_name()
print(school_name)

PTC

### Student class inheritance from School class

In [ ]:
class Student(School):
    # Define name list
    name_list = []

    def __init__(self):
        super().__init__()

    def set_name(self, name):
        self.name = name

    def get_name(self):
        return self.name
    
    def set_name_list(self, name):
        self.name_list.append(name)
    
    def get_name_list(self):
        return self.name_list

In [ ]:
# Initialise student
student = Student()

''

In [54]:
# Set Student
student.set_name("John")

# get student name
print(student.get_name())

John

In [55]:
student.set_name_list("John")
student.set_name_list("Doe")
student.set_name_list("Smith")

In [56]:
student_list = student.get_name_list()
print(student_list)

['John', 'Doe', 'Smith']